div(class=logoClasses[0] + ' logo1')
	a(class=logoClasses[1] href="../index.html")
		if mainPage
			+pictureClassNamePng(
				'',
				'logo-image',
				webp,
				'../../images/content/png/logoGifPng',
				'../../images/content/png/logoGifPng'
				)
		if !mainPage
			+pictureClassNamePng(
				'',
				'logo-image',
				webp,
				'../../images/content/png/logoGifPng',
				'../../images/content/png/logoGifPng'
			)