-
    let formName= 'form'
-
    let formAction= 'formUrl'
-
    let formID= 'formID'
-
    let formWrapper= 'form-wrapper'

-   let inputPhone = 'inputPhone'
-   let inputEmail = 'inputEmail'
-   let label = 'formLabel'
-   let input = 'formInput'
-   let buttonFormSubmit = 'buttonFormSubmit'

-   let inputWrapper = 'input-wrapper'
-   let inputRadioBtn = 'input-RadioBtn'