section(class=benefitsSection)
	.container
		div(class=benefitsSectionWrapper)
			div(class=benefitsSectionInner)
				h2 Вывод в ТОП
					br поисковой выдачи
				h2	Стратегия продвижения
				h2 Настройка
					br рекламных компаний
				h2 Защита от недобросовестных
					br конкурентов
				h2 Аналитика данных
				h2 Увеличение сессий