extends ../layout/main.pug
include ../modules/mixins/mixins

block variables
	include ../abstraction/variables
	- let mainPage = true
block head
	include ../partials/head/head
block content
	noscript
		div
			img(src="https://mc.yandex.ru/watch/91482496" style="position:absolute; left:-9999px;" alt="")
	//- <!-- Google Tag Manager (noscript) -->
	noscript
		iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KXD4BJT" height="0" width="0" style="display:none;visibility:hidden")
	//- <!-- End Google Tag Manager (noscript) -->
	script
		include ../../js/my-target.js
	//- <!-- /Top.Mail.Ru counter -->
	noscript
		div
			Img(src="https://top-fwz1.mail.ru/counter?id=3277148;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru")

	div(class='overlay')
	button(type=button class="btnclose", id='btnclose')
		span(class='spanbtnclose')
		span(class='spanbtnclose')
	include ../sections/header/header
	main(class=main)
		include ../sections/intro-section/intro-section
		include ../sections/helpers-section/helpers-section
		include ../sections/cools-section/cools-section

		//- include ../sections/newYear-section/newYear-section

		include ../sections/stepsWorking-section/stepsWorking-section
		include ../sections/integration-section/integration-section
		include ../sections/mainForm-section/mainForm-section
		include ../sections/seo-section/seo-section
block footer
	include  ../sections/footer/footer
block templates
	include  ../blocks/popups/popupCall
	include  ../blocks/buttonCall