.cool-section {
	position: relative;
	min-height: 350px;

	@include media('>=tablet') {
		min-height: 600px;
	}

	&__wrapper {
		display: flex;
		padding-left: 30%;
	}

	&__inner {
		ul {
			color: $black;
			font-family: $Montserrat;
			font-size: 1.8rem;
			position: relative;
			list-style-type: disc;

			@include media('>=tablet') {
				font-size: 2.5rem;
			}

			@include media('>=desktop') {
				font-size: 2.8rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 3.2rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 3.8rem;
			}

			&::before {
				@extend %pseudo;
				width: 320px;
				height: 2px;
				left: -175px;
				bottom: 158px;
				background-color: $black;
				transform: rotate(-90deg);

				@include media('>=phone-lg') {
					width: 265px;
					left: -148px;
					bottom: 134px;
				}

				@include media('>=tablet') {
					width: 350px;
					left: -194px;
					bottom: 152px;
				}

				@include media('>=desktop') {
					width: 330px;
					left: -185px;
					bottom: 150px;
				}

				@include media('>=widescreen-lg') {
					width: 420px;
					left: -235px;
					bottom: 200px;
				}
			}
		}
	}

	&__image-wrapper {
		position: absolute;
		left: -20%;
    	top: -200px;
		width: 200px;

		@include media('>=phone-lg') {
			width: 300px;
		}

		@include media('>=tablet') {
			width: 300px;
		}

		@include media('>=desktop') {
			width: 400px;
		}

		@include media('>=widescreen') {
			width: 500px;
		}

		@include media('>=widescreen-lg') {
			left: -10%;
			top: -80px;
			width: 800px;
		}
	}
}
