.cool-section {
	position: relative;
	min-height: 350px;
	padding-bottom: 10rem;

	@include media('>=tablet') {
		min-height: 600px;
	}

	&__wrapper {
		display: flex;
		margin-left: 30%;
		position: relative;
		padding-left: 8px;

		&::before {
			@extend %pseudo;
			background-color: $black;
			width: 1px;
			height: 185px;
			left: 0;
			bottom: 5px;

			@include media('>=phone-lg') {
				width: 265px;
				left: -148px;
				bottom: 134px;
			}

			@include media('>=tablet') {
				width: 350px;
				left: -194px;
				bottom: 152px;
			}

			@include media('>=desktop') {
				width: 330px;
				left: -185px;
				bottom: 150px;
			}

			@include media('>=widescreen-lg') {
				width: 420px;
				left: -235px;
				bottom: 200px;
			}
		}
	}

	&__inner {
		ul {
			color: $black;
			font-family: $Montserrat;
			font-size: 1rem;
			list-style-type: disc;

			@include media('>=tablet') {
				font-size: 2.5rem;
			}

			@include media('>=desktop') {
				font-size: 2.8rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 3.2rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 3.8rem;
			}

			li {
				margin-bottom: 1rem;
			}
		}
	}

	&__image-wrapper {
		position: absolute;
		left: -120%;
    	top: -125px;
		width: 434px;
		opacity: 0.5;

		@include media('>=phone-lg') {
			width: 300px;
			left: -50%;
		}

		@include media('>=tablet') {
			width: 300px;
			left: -20%;
		}

		@include media('>=desktop') {
			width: 400px;
			opacity: 1;
		}

		@include media('>=widescreen') {
			width: 500px;
		}

		@include media('>=widescreen-lg') {
			left: -10%;
			top: -80px;
			width: 800px;
		}

		video {
			width: 434px;
		}
	}
}
