.formDevelop {
    &__wrapper{
        color: $black;
        min-width: 100%;
		max-width: 100%;
		box-shadow: inset 2px 2px 19px rgba(0, 0, 0, 0.13);
		border-radius: 30px;
		padding: 1rem;

		@include media('>=phone-lg') {
			padding: 20px;
		}

        .button-more {
            border-radius: 0;
            min-width: 120px;
            height: 20px;
            padding-right: 6rem;
			flex-basis: 50%;
			margin-left: 1rem;
			padding-top: 0.2rem;

			@include media('>=tablet') {
				height: 70px;
				min-width: 260px;
				margin-left: 2rem;
				padding-top: 1.5rem;
			}

			&::after {
				height: 10px;
				top: 5px;

				@include media('>=tablet') {
					height: 40px;
					top: 15px;
				}
			}
        }
    }

	.formDevSec-Inner {
		padding: 2rem;
		border-radius: 30px;
		box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px -1px 0px 1px rgba(0, 0, 0, 0.05);

		@include media('>=phone-lg') {
			padding: 5rem;
		}
		@include media('>=desktop') {
			padding: 10rem;
		}

		.title__h2 {
			font-size: 1.5rem;

			@include media('>=phone-lg') {
				font-size: 2.5rem;
			}

			@include media('>=desktop') {
				font-size: 5.6rem;
			}
		}
	}

    &__inner {
        display: flex;
		justify-content: space-between;
		max-width: inherit;

		@include media('>=desktop') {
			display: flex;
		}

        input{
            height: 20px;
			max-width: inherit;
            font-size: 0.8rem;
            font-family: $Montserrat;
			flex-basis: 50%;
			padding: 0.5rem;

			@include media('>=desktop') {
				height: 70px;
				flex-basis: 50%;
				font-size: 2.4rem;
			}
        }
    }

    &__text{
        margin-bottom: 0.5rem;

		@include media('>=desktop') {
			margin-bottom: 3.5rem;
		}

        span {
            font-size: 0.8rem;
            font-family: $Montserrat;

			@include media('>=desktop') {
				font-size: 2.4rem;
			}

            &:first-of-type {
                text-transform: uppercase;
            }
        }
    }
}