.formDevelop {
    &__wrapper{
        color: $black;
        min-width: 100%;
		max-width: 100%;
        padding: 1.4rem;
		border-radius: 23px;
		box-sizing: border-box;

		@include media('>=phone-lg') {
			border: 10px solid $gray1;
		}

		@include media('>=desktop') {
			padding: 6.4rem;
			border: 20px solid $gray1;
		}

        .button-more {
            border-radius: 0;
            min-width: 260px;
            height: 70px;
            padding-right: 6rem;
        }
    }

    &__inner {
        display: grid;
		grid-template-columns: 1fr;
        align-items: center;
        gap: 3rem;
		max-width: inherit;

		@include media('>=desktop') {
			display: flex;
		}

        input{
            height: 70px;
			max-width: inherit;
            font-size: 2.4rem;
            font-family: $Montserrat;

			@include media('>=desktop') {
				flex-basis: 50%;
			}
        }
    }

    &__text{
        margin-bottom: 3.5rem;

        span {
            font-size: 2.4rem;
            font-family: $Montserrat;

            &:first-of-type {
                text-transform: uppercase;
            }
        }
    }
}