.intro2Section {
    border-bottom: 1px solid $white;
    background: linear-gradient(45deg, $gray, $gray1);
}

.list-intro2Section {
    text-shadow: 1px 1px 2px $black;

    &__link {
        color: $white;
        transition: $base-transition;
        font-size: 1.6rem;
        position: relative;
        padding-left: 35px;

        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
            top: 10px;
            left: 0;
        }

        &:hover {
            color: $orange;
        }
    }
}

.Intro2Section-paraghraph {
    margin-bottom: 2rem;
    font-size: 2rem;
}