.intro-section {
	padding-top: 3rem;

	@include media('>=tablet') {
		padding-top: 1rem;
	}

  &__wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    margin-top: 300px;

    @include media('>=phone') {
      min-width: 390px;
    }

    @include media('>=tablet') {
      margin: 0;
      justify-content: left;
    }

    @include media('<=tablet') {
      max-width: 391px;
    }
  }

  &__inner {
    display: grid;
    justify-content: space-between;
    align-items: center;

    @include media('>=desktop') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text {
    color: $black;
  }

  &__title {
    font-family: $SyncopateBold;

    span {
      text-transform: uppercase;

      &:first-of-type {
        text-align: center;

        @include media('>=tablet') {
          text-align: left;
        }

      }
    }
  }

  &__h1-span {
    font-family: $MontserratBold;

    &:last-of-type {
      display: none;
      transition: $base-transition;
    }
  }
  &__h1-span2 {
    font-family: $MontserratBold;
  }

  &__h1-span2.right {
    text-align: right;
    display: block;
  }

  &__form {
    @include media('>=phone') {
      max-width: 391px;
      min-width: 390px;
    }
  }

  &__form-wrapper {
    display: grid;
    align-items: left;
    max-width: 391px;
    gap: 2rem;

    .introButton {
      font-family: $MontserratBold;
      font-size: 2rem;
      border: 1px solid $black;
      background-color: $black;
      padding: 1rem;
      height: 70px;
      max-width: 320px;

      @include media('>=phone') {
        max-width: 391px;
        padding: 1rem 2.8rem 1rem 2.1rem;
      }

      @include media('>=tablet') {
        max-width: 391px;
        padding: 2rem 3.5rem 2rem 5.1rem;
        font-size: 2.4rem;
      }

      &:hover {
        @extend %hoverButton;
      }

      &:focus {
        @extend %hoverButton;
      }
    }
  }

  &__form-inner {
    display: grid;
    align-items: left;
    gap: 2rem;
    max-width: min-content;

    @include media('>=phone') {
      max-width: 391px;
      min-width: 390px;
    }

    input {
      font-size: 2.4rem;
      font-family: $Montserrat;
      border: 2px solid $black;
      height: 70px;
      position: relative;
    }
  }

  &__image-wrapper {
    position: absolute;
    width: 300px;
    height: 320px;
    top: -328px;
    z-index: -1;

    @include media('>=phone') {
      top: -365px;
      transform: translate(-50%, 35px);
    }

    @include media('>=tablet') {
      top: -30px;
      right: -160px;
      width: 400px;
    }

    @include media('<=tablet') {
      left: 50%;
      transform: translate(-50%, 0px);
    }

    @include media('>=desktop') {
      top: -25px;
      right: -200px;
      width: 500px;
      height: 400px;
    }

    @include media('>=widescreen') {
      top: -25px;
      width: 600px;
      height: 500px;
    }

    @include media('>=widescreen-lg') {
      top: -20px;
      right: -170px;
      width: 620px;
    }
  }

  &__image {
    background-color: $red;
    object-fit: cover;
    position: absolute;
    height: inherit;
    z-index: -1;
    width: 100%;
  }

  &__texts {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 4.8rem;
	font-family: $MontserratBold;
	display: flex;
	max-width: 700px;
	min-width: 700px;
    height: 200px;
  }

  &__texts-inner {
	position: relative;
	height: 200px;
	min-width: 100%;
	display: grid;
    align-items: end;
	overflow: hidden;
  }

  &__text {
    position: absolute;
    text-align: right;
	opacity: 0;
  }

//   &__text.anima {
// 	animation: anima 4s ease-in-out infinite;
// 	animation-timing-function: steps(3, end);
// 	animation-delay: 1s;
// 	transition-delay: 1s;
//   }

//   &__text.anima2 {
// 	animation: anima 10s ease-in-out infinite;
// 	animation-timing-function: steps(15, end);
// 	animation-delay: 3s;
// 	transition-delay: 3s;
//   }

//   &__text.anima3  {
// 	animation: anima 15s ease-in-out infinite;
// 	animation-timing-function: steps(30, end);
// 	animation-delay: 5s;
// 	transition-delay: 5s;
//   }
}

@keyframes anima {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
