.newYear {
	color: $black;
	padding-bottom: 4rem;
	padding-top: 2rem;


	@include media('>=desktop') {
		padding-top: 10rem;
		padding-bottom: 20rem;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__block1 {
		position: relative;

		.title__h2 {
			margin-bottom: 0;
			margin-left: 0;
		}

		.newYear-orangePercent {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			color: $white;
			font-size: 4rem;
			font-family: $MazzardHBold;
			position: relative;
		}

		.newYear-orangePercent1 {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			background-color: $orange2;
			position: absolute;
			z-index: -1;
			animation: moves1 6s linear infinite;
		}
		.newYear-orangePercent2 {
			text-align: left;
		}
	}

	&__inner3 {
		box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
		border-radius: 15px;
		padding: 1.5rem;
		position: absolute;
		left: -2rem;
		top: -2rem;

		@include media('>=desktop') {
			min-height: 430px;
			width: 360px;
		}
	}


	&__inner4 {
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 1px 2px 2px 1px  rgba(0, 0, 0, 0.07), 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
		width: 100%;
		left: -2rem;
		top: -2rem;
		min-height: inherit;
	}

	&__block2 {
		svg {
			@include media('>=desktop') {
				width: 250px;
				height: 250px;
			}
		}
	}
}

.bigSell {
	@include media('>=desktop') {
		font-size: 9rem;
	}
}

.bigSell.left {
	margin-left: 120px;
}

.newYear-text-cost {
	display: flex;
	justify-content: flex-end;
	width: 90%;
}
.newYear-text-cost1 {
	text-align: left;

	div {
		display: flex;
		justify-content: flex-start;

		.base-text {
			font-family: $MazzardHBold;
		}

		span {
			margin-left: 2rem;
			color: $orange2;
		}
	}
}

@keyframes moves1 {
    0% {
		margin-left: -8px;
		margin-top: -10px;
    }
    20% {
		margin-top: 15px;
		margin-left: 0px;

	}
    40% {
		margin-left: 24px;
		margin-top: 10px;
    }
    60% {
		margin-top: 15px;
		margin-left: 0px;
    }
    80% {
		margin-left: 20px;
    }
    100% {
		margin-left: -8px;
		margin-top: -10px;
    }
}


.btn-call {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border: 1px solid $black;
	border-radius: 50%;
	padding: 1rem;
	z-index: 1000;
	background-color: $white;

	a {
		animation: movie 6s linear infinite;

		&:hover {
			opacity: 0.8;
		}
	}

	@include media('>=desktop') {
		width: 100px;
		height: 100px;
	}
}

@keyframes movie {
  35% {transform: rotate(0) translate(0, 0);}
	40% {transform: rotate(5deg) translate(0, -2px);}
	45% {transform: rotate(-3deg) translate(0, -2px);}
	50% {transform: rotate(5deg) translate(0, -2px);}
	55% {transform: rotate(-3deg) translate(0, -2px);}
	60% {transform: rotate(5deg) translate(0, -2px);}
	65% {transform: rotate(-3deg) translate(0, -2px);}
	70% {transform: rotate(0) translate(0, 0);}
}