.newYear {
	color: $black;
	padding-bottom: 4rem;
	padding-top: 2rem;

	@include media(">=tablet") {
		padding-top: 15rem;
		padding-bottom: 15rem;
	}
	@include media(">=desktop") {
		padding-top: 15rem;
		padding-bottom: 15rem;
	}
	@include media(">=widescreen-lg") {
		padding-top: 10rem;
		padding-bottom: 20rem;
	}

	&__wrapper {
		// display: grid;
		// grid-template-columns: 1fr 1fr;

		align-items: center;
		justify-content: center;
		display: grid;

		@include media(">=tablet") {
			align-items: center;
			justify-content: center;
			display: flex;
		}
		@include media(">=desktop") {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: flex-start;
			align-items: flex-start;
			padding-left: 2rem;
		}
	}

	&__block1 {
		position: relative;

		.title__h2 {
			margin-bottom: 0;
			margin-left: 0;
			white-space: nowrap;
			font-size: 2.2rem;

			@include media(">=phone-lg") {
				font-size: 3.2rem;
			}
			@include media(">=tablet") {
				font-size: 4.8rem;
			}
			@include media(">=tablet") {
				font-size: 4.8rem;
			}
			@include media(">=desktop") {
				font-size: 6.8rem;
			}
			@include media(">=widescreen-lg") {
				font-size: 7.6rem;
			}
		}

		.newYear-orangePercent {
			border-radius: 50%;
			color: $white;
			font-size: 4rem;
			font-family: $MazzardHBold;
			position: relative;

			@include media(">=tablet") {
				width: 300px;
				height: 300px;
			}
		}

		.newYear-orangePercent1 {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background-color: $orange2;
			position: absolute;
			z-index: -1;
			right: -100px;
    		top: -47px;
			animation: moves2 6s linear infinite;

			@include media(">=tablet") {
				width: 300px;
				height: 300px;
				right: auto;
				top: auto;
				animation: moves1 6s linear infinite;
			}
		}
		.newYear-orangePercent2 {
			text-align: right;
			position: relative;

			@include media(">=tablet") {
				text-align: left;
			}
		}
	}

	&__inner3 {
		box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
		border-radius: 15px;
		padding: 1.5rem;
		position: absolute;
		left: -2rem;
		top: -2rem;
		height: 220px;
		width: 310px;

		@include media(">=phone-lg") {
			width: 440px;
			height: 240px;
		}
		@include media(">=tablet") {
			height: 447px;
			width: 360px;
		}
		@include media(">=desktop") {
			height: 447px;
			width: 360px;
		}
		@include media(">=widescreen-lg") {
			height: 447px;
			width: 360px;
		}
	}

	&__inner4 {
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07), 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
		width: 100%;
		left: -2rem;
		top: -2rem;

		height: 190px;
		width: 280px;

		@include media(">=phone-lg") {
			width: 410px;
			height: 210px;
		}
		@include media(">=tablet") {
			height: 417px;
			width: 330px;
		}
		@include media(">=desktop") {
			height: 417px;
			width: 330px;
		}
		@include media(">=widescreen-lg") {
			height: 417px;
			width: 330px;
		}
	}

	&__block2 {
		position: relative;
		margin-top: -300px;



		@include media(">=phone-lg") {
			margin-top: -320px;
		}

		@include media(">=tablet") {
			margin-top: 0;
		}
		a {
			// position: absolute;

			@include media(">=tablet") {
				position: absolute;

				&:nth-of-type(1) {
					top: -60px;
					left: -80px;
				}
				&:nth-of-type(2) {
					top: -120px;
					left: 10px;
				}
				&:nth-of-type(3) {
					top: 20px;
					left: -10px;
				}
			}
			@include media(">=desktop") {
				&:nth-of-type(1) {
					top: 140px;
					left: -80px;
				}
				&:nth-of-type(2) {
					top: 30px;
					left: 100px;
				}
				&:nth-of-type(3) {
					top: 250px;
					left: 20px;
				}
			}

			@include media(">=widescreen-lg") {
				&:nth-of-type(1) {
					top: 80px;
					left: 0px;
				}
				&:nth-of-type(2) {
					top: -20px;
					left: 250px;
				}
				&:nth-of-type(3) {
					top: 220px;
					left: 200px;
				}
			}
		}

		svg {
			width: 70px;
			height: 70px;
			margin-left: -10px;

			@include media(">=tablet") {
				width: 100px;
				height: 100px;
				margin-left: 0px;
			}
			@include media(">=desktop") {
				width: 150px;
				height: 150px;
			}
			@include media(">=widescreen-lg") {
				width: 200px;
				height: 200px;
			}
		}
	}
}

.bigSell {
	margin-top: 20px;
	margin-bottom: -40px;
	font-size: 6rem;

	&:nth-of-type(odd) {
		display: none;
	}

	@include media(">=tablet") {
		font-size: 9rem;
		margin-top: 0;
		margin-bottom: 0;

		&:nth-of-type(odd) {
			display: block;
		}
	}

	@include media(">=desktop") {
		font-size: 9rem;
	}

	@include media(">=widescreen-lg") {
		font-size: 9rem;
	}
}

.bigSell.left {
	margin-left: 120px;
}

.newYear-text-cost {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	color: $black;
	line-height: 2;
	margin-top: 120px;

	@include media(">=phone-lg") {
		justify-content: flex-start;
	}
	@include media(">=tablet") {
		position: absolute;
		right: -325px;
		bottom: -38px;
		margin-top: 0;
		justify-content: flex-end;
	}

	@include media(">=desktop") {
		position: absolute;
		right: -345px;
		bottom: -18px;
	}

	@include media(">=widescreen-lg") {
		position: absolute;
		right: -345px;
		bottom: -18px;
	}
}
.newYear-text-cost1 {
	text-align: left;

	div {
		display: flex;
		justify-content: flex-start;

		.base-text {
			font-family: $MazzardHBold;
		}

		span {
			margin-left: 2rem;
			color: $orange2;
		}
	}
}

@keyframes moves1 {
	0% {
		margin-left: -10px;
		margin-top: -10px;
	}
	20% {
		margin-top: 15px;
		margin-left: 0px;
	}
	40% {
		margin-left: 10px;
		margin-top: 5px;
	}
	60% {
		margin-left: 20px;
		margin-top: 0px;
	}
	80% {
		margin-left: 10px;
		// margin-top: 15px;
	}
	100% {
		margin-left: -10px;
		margin-top: -10px;
	}
}

@keyframes moves2 {
	0% {
		right: 60px;
		top:  -20px;
	}
	20% {
		right: 30px;
		top:  -35px;
	}
	40% {
		right: 0px;
		top:  -45px;
	}
	60% {
		right: -10px;
		top:  -55px;
	}
	80% {
		right: 20px;
		top:  -30px;
	}
	100% {
		right: 60px;
		top:  -20px;
	}
}

.btn-call {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border: 1px solid $black;
	border-radius: 50%;
	padding: 1rem;
	z-index: 1000;
	background-color: $white;

	a {
		animation: movie 6s linear infinite;

		&:hover {
			opacity: 0.8;
		}
	}

	@include media(">=widescreen-lg") {
		width: 100px;
		height: 100px;
	}
}

@keyframes movie {
	35% {
		transform: rotate(0) translate(0, 0);
	}
	40% {
		transform: rotate(5deg) translate(0, -2px);
	}
	45% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	50% {
		transform: rotate(5deg) translate(0, -2px);
	}
	55% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	60% {
		transform: rotate(5deg) translate(0, -2px);
	}
	65% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	70% {
		transform: rotate(0) translate(0, 0);
	}
}
