.priceSection {
    background: $white;
    color: $black;

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @include media(">=tablet") {
            grid-template-columns: 1fr 1fr;
        }
    }
}