.seoPrice-section {
	color: $black;

	&__wrapper {
		&:hover {
			.seoPrice-section__cost {
				opacity: 1;
				transition: 1s ease-in-out;
			}
		}
	}

	&__inner {
		display: grid;
		margin-bottom: 2rem;
		gap: 2rem;

		@include media(">=widescreen") {
			display: flex;
			justify-content: space-between;
		}
	}

	&__card {
		border: 2px solid $black;
		padding: 2rem 2rem 2rem 4rem;
		position: relative;

		p:not(.seoPrice-section__price) {
			font-size: 1.6rem;
			font-family: $Montserrat;

			@include media('>=tablet') {
				font-size: 2.4rem;
			}
		}

		p:first-of-type {
			padding-bottom: 5rem;
		}

		ul {
			list-style-type: disc;
			min-height: 300px;
			padding-bottom: 20rem;
		}

		li {
			font-size: 1.4rem;
			font-family: $Montserrat;

			@include media('>=tablet') {
				font-size: 2.4rem;
			}
		}
	}

	&__card-footer {
		position: absolute;
		bottom: 0;
		padding-bottom: 2rem;
	}

	&__price {
		font-size: 2.6rem;
		font-family: $MontserratBold;

		@include media('>=tablet') {
			font-size: 5.6rem;
		}
	}

	&__cost {
		font-size: 1.4rem;
		font-family: $Montserrat;
		opacity: 1;

		@include media('>=tablet') {
			font-size: 2.1rem;
		}
		@include media('>=widescreen') {
			opacity: 0;
		}
	}

	&__pro {
		font-family: $SyncopateBold;
		font-size: 1.4rem;
		color: $gray;
		text-transform: uppercase;

		@include media('>=tablet') {
			font-size: 2.1rem;
		}
	}

	.title__h2 {
		color: $black;
	}
}