.stepsWorking-section {
    color: $black;
    font-family: $MazzardHBold;

	@include media(">=desktop") {
		padding-bottom: 5rem;
	}

	@include media(">=widescreen-lg") {
		padding-bottom: 18rem;
	}

	.title__h2 {
        font-size: 1.8rem;
		font-family: $MazzardHBold;

		@include media('>=390px') {
			margin-bottom: -0.5rem;
		}

		@include media('>=phone-lg') {
			 font-size: 2.4rem;
		}

		@include media(">=desktop") {
			font-size: 3.8rem;
		}
    }

    &__wrapper {
		max-width: 100%;
		min-height: 180px;
		min-width: 100%;
		
		@include media('>=390px') {
			min-height: 200px;
		}

		@include media('>=phone-lg') {
			min-height: 200px;
		}

		@include media(">=desktop") {
			min-height: 800px;
		}
		@include media(">=widescreen-lg") {
			min-height: 830px;
		}
	}
    &__wrapper1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
		min-height: 200px;
		max-width: inherit;
		min-width: 100%;
    }

    &__inner {
        padding-top: 2.5rem;
		position: relative;

		@include media('>=desktop') {
			padding-top: 4.5rem;
		}

		@include media('>=widescreen-lg') {
			padding-top: 7.5rem;
		}
    }

    &__step-block {
        padding-bottom: 2rem;
        min-width: 100%;

		@include media('>=phone-lg'){
			padding-bottom: 3rem;
		}
		@include media('>=desktop'){
			padding-bottom: 5rem;
		}
    }

    &__text,
    &__text1 {
		font-size: 1.2rem;
        font-family: $Montserrat;

		@include media('>=phone-lg'){
			font-size: 2rem;
		}

		@include media('>=widescreen-lg'){
			font-size: 2.4rem;
		}
    }

	&__text {
		@include media('>=390px') {
			padding-left: 8px;
			margin-bottom: 6px;
	   }
		@include media('>=desktop') {
			margin-bottom: -14px;
			margin-left: -10px;
	   }
	}

    &__text1 {
        flex-basis: 46%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 5rem;
		position: absolute;
		top: 60px;
		right: 0;

		@include media('>=390px'){
			right: -3px;
		}

		@include media('>=desktop'){
			right: auto;
			top: auto;
			left: 100px;
			bottom: 20px;
			left: 0px;
			bottom: 0;
		}

		@include media('>=widescreen-lg'){
			right: auto;
			top: auto;
			left: 100px;
			bottom: 20px;
		}

        div {
            padding: 0.5rem 2rem 0.5rem 0.5rem;
            border-bottom: 1px solid $orange1;
            border-left: 1px solid $orange1;
			margin-right: 10px;

			@include media('>=390px'){
				margin-top: -12px;
				padding: 0.5rem 2.4rem 0.5rem 0.2rem;
				margin-right: 8px;
			}

			@include media('>=phone-lg'){
				padding: 1.5rem 7.7rem 1.5rem 1.5rem;
			}

			@include media('>=desktop'){
				padding: 1rem 2.7rem 1rem 1rem;
			}

			@include media('>=widescreen-lg'){
				padding: 1.5rem 7.7rem 1.5rem 1.5rem;
			}


			&::before {
				@extend %pseudo;
				width: 7px;
				height: 1px;
				background-color: $orange1;
				top: 0;
				left: 0;

				@include media('>=390px'){
					top: -12px;
					left: 1px;
				}
	
				@include media('>=desktop'){
					width: 20px;
				}
			}
        }

        p {
            font-size: 1.2rem;

			@include media('>=390px'){
				font-size: 1.2rem;
			}

			@include media('>=phone-lg'){
				font-size: 2.1rem;
			}
        }
    }

    &__span {
        text-transform: uppercase;
    }

    &__line,
    &__line-active {
        height: 2px;

		@include media(">=desktop") {
			height: 4px;
		}
    }

    &__line {
        width: 100%;
        background-color: $gray;
        margin-bottom: 1.4rem;

		@include media('>=390px') {
			margin-bottom: 2rem;
			margin-top: -5px;
		}

		@include media('>=desktop'){
			margin-bottom: 6.4rem;
		}
    }

    &__line-active {
        width: 50%;
        background-color: $black;
        position: relative;
    }

    &__line-circle {
        position: absolute;
        right: 0;
		top: -10px;
		width: 20px;
		height: 20px;
        background-color: $black;
        border-radius: 50%;

		// @include media(">=390px") {
		// 	right: -2px;
		// 	top: -4px;
		// 	width: 10px;
		// 	height: 10px;
        // }

		@include media('>=desktop'){
			top: -26px;
			width: 52px;
			height: 52px;
			right: -6px;
		}

        div {
            position: relative;
            width: 100%;
            height: 100%;
        }

        span {
            position: absolute;
            color: $white;
            font-family: $MontserratBold;
			top: 3px;
			left: 6px;
			font-size: 1.2rem;
			
			@include media('>=desktop'){
				font-size: 3.6rem;
				left: 17px;
				top: 4px;
			}
        }
    }

    &__step {
		display: flex;
		justify-content: space-between;
		flex-direction: column-reverse;

		@include media('>=tablet'){
			flex-direction: row;
		}

		@include media('>=desktop'){
			justify-content: flex-end;
		}
    }

	&__step-block {
		margin-left: 10px;

		@include media('>=tablet'){
			margin-left: 20px;
		}

		&:first-of-type {
			margin-left: 0;
		}
	}

    &__block {
        position: relative;
        display: flex;
        align-items: flex-end;
        border: 1px solid $black;
		min-height: 175px;
		padding: 1rem;
		margin-bottom: 2rem;
		margin-left: 30px;
		max-width: inherit;
		// min-width: 85%;

		@include media(">=390px") {
			margin-bottom: 1.4rem;
			// min-width: 324px;
        }

		@include media('>=phone-lg'){
			min-height: 300px;
			min-width: 90%;
		}

		@include media('>=tablet'){
			padding: 2rem;
			margin-left: 20px;
			margin-bottom: 0;
		}

		@include media('>=desktop'){
			min-height: 500px;
			flex-basis: 52%;
			min-width: 56%;
		}

		@include media('>=widescreen'){
			flex-basis: 61%;
		}

		@include media('>=widescreen-lg'){
			padding: 5rem;
			min-height: 500px;
			flex-basis: 50%;
			min-width: 50%;
		}

		&:first-of-type {
			margin-left: 0;
		}
    }

    &__title {
        font-family: $MontserratBold;
        position: absolute;
		left: -30px;
		font-size: 2.2rem;
		bottom: 100px;

		@include media(">=390px") {
			font-size: 3.4rem;
			left: -35px;
			bottom: 80px;
        }

		@include media(">=phone-lg") {
			font-size: 4.2rem;
			bottom: 150px;
        }

		@include media('>=desktop'){
			bottom: 140px;
    		font-size: 6.6rem;
			left: -40px;
		}

		@include media('>=widescreen-lg'){
			bottom: 150px;
			font-size: 9.6rem;
			left: -140px;
		}
    }
}