.stepsWorking-section {
    color: $black;
    font-family: $MazzardHBold;

    .title__h2 {
        font-size: 3.8rem;
    }

    &__title {
        font-size: 9.6rem;
        font-family: $MontserratBold;
    }

    &__text {
        font-size: 2.4rem;
        font-family: $Montserrat;

        &:not:last-of-type {
            font-size: 2.1rem;
        }
    }

    &__span {
        text-transform: uppercase;
    }
}