.tarifsHelp-section {
	color: $black;

	&__title-wrapper{
		position: absolute;
		z-index: 1;
		right: 30%;
		top: 20%;
	}

	&__title-inner{
		p {
			font-size: 2.4rem;
			font-family: $Montserrat;
		}
	}

	&__title {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
		font-family: $MontserratBold;

		@include media('>=tablet') {
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}
		@include media('>=desktop') {
			font-size: 3.2rem;
			margin-bottom: 3rem;
		}
		@include media('>=widescreen-lg') {
			font-size: 5.6rem;
		}
	}

	&__inner {
		position: relative;
		min-width: 100%;
		display: flex;
		justify-content: flex-end;

		.title__h2 {
			position: absolute;
			z-index: 12;
			right: 260px;
			top: 190px;
		}
	}

	&__image-wrapper {
		width: 300px;
		height: 320px;

		@include media('>=desktop') {
			width: 500px;
			height: 400px;
		}

		@include media('>=widescreen') {
			width: 600px;
			height: 500px;
		}

		@include media('>=widescreen-lg') {
			width: 620px;
		}
	}

	&__image {
		background-color: $red;
		object-fit: cover;
		height: inherit;
		width: 100%;
	}
}
