.trust-section {
	.title__h2 {
		color: $black;
		font-size: 1.2rem;

		@include media('>=tablet') {
			font-size: 1.8rem;
		}
	}

	.trustH2 {
		margin-left: 16px;
	}

	&__wrapper {
		.title__h2 {
			margin-bottom: 2rem;
		}
	}
	&__argument {
		padding: 1rem;

		@include media('>=phone-lg') {
			padding: 2rem;
		}

		&:nth-of-type(1) {
			border-top: 1px solid $orange1;
			width: 220px;
			margin-bottom: -20px;

			@include media('>=desktop') {
				margin-bottom: 0;
				border-top: 2px solid $orange1;
			}

		}

		&:nth-of-type(2) {
			border-bottom: 1px solid $orange1;
			position: relative;
			text-align: right;
			width: 300px;

			@include media('>=desktop') {
				border-top: 2px solid $orange1;
				text-align: left;
			}

			p {
				text-align: right;

				@include media('>=desktop') {
					text-align: left;
				}
			}

			&::after,
			&::before {
				@extend %pseudo;
				background-color: $orange1;
			}

			&::after {
				width: 1px;
				height: 9px;
				bottom: 37px;
				right: 141px;

				@include media('>=desktop') {
					width: 70px;
					height: 2px;
					transform: rotate(90deg);
					bottom: 33px;
					right: -35px;
				}
			}

			&::before {
				width: 19px;
				height: 1px;
				bottom: 45px;
				right: 142px;

				@include media('>=desktop') {
					display: none;
				}
			}
		}

		&:nth-of-type(3) {
			position: relative;
			transform: rotate(90deg);
			margin-right: -71px;
			margin-top: -52px;
			width: 243px;
			justify-self: flex-end;

			@include media('>=desktop') {
				border-left: 2px solid $orange1;
				border-bottom: 2px solid $orange1;
				border-right: 2px solid transparent;
				border-top: 2px solid transparent;
				margin-top: 0;
				margin-right: 0;
				transform: rotate(0deg);
				justify-self: auto;
				width: auto;
			}

			.title__h2 {
				margin-bottom: 0;
			}

			.trust-section__text {
				margin-left: 0px;
			}

			p {
				text-align: left;

				&:nth-of-type(2) {
					text-align: right;
					margin-right: 60px;

					@include media('>=desktop') {
						text-align: right;
					}
				}
			}

			&::before,
			&::after {
				@extend %pseudo;
				background-color: $orange1;
			}

			&::before {
				width: 148px;
				height: 1px;
				top: 52px;
				left: 15px;

				@include media('>=desktop') {
					width: 50px;
					height: 2px;
					top: 0;
					left: 40px;
				}
			}

			&::after {
				display: none;

				@include media('>=desktop') {
					width: 70px;
					height: 2px;
					transform: rotate(90deg);
					bottom: -36px;
					right: -35px;
				}
			}
		}

		&:nth-of-type(4) {
			width: 217px;
			margin-top: -33px;
			padding-left: 15px;

			@include media('>=desktop') {
				width: auto;
				margin-top: auto;
				padding-left: auto;

			}

			p {
				text-align: left;

				@include media('>=desktop') {
					text-align: right;
				}
			}
		}
	}

	&__argument-inner {
		.title__h2 {
			color: $black;
			font-size: 1.5rem;

			@include media('>=desktop') {
				font-size: 3.8rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 5.6rem;
			}
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0rem;

		@include media('>=phone-lg') {
			gap: 2rem;
			grid-template-columns: 1fr 1fr;
		}
		@include media('>=tablet') {
			gap: 3rem;
		}
		@include media('>=desktop') {
			grid-template-columns: 1fr 1fr;
			gap: 5rem;
		}


	}

	&__border {
		position: absolute;
		width: 40px;
		height: calc(100% + 20px);
		left: 0;
		top: -10px;
		border-top: 10px solid $white;
		border-bottom: 10px solid $white;
	}

	&__text {
		color: $black;
		font-size: 0.8rem;
		font-family: $Montserrat;

		@include media('>=phone-lg') {
			font-size: 1.8rem;
		}
		@include media('>=tablet') {
			font-size: 2.4rem;
		}
	}
}
