.variantsSitesSection {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    position: relative;
    min-height: 760px;
}

.variantSection-block .stepsWorking-section__block{
	display: grid;
	align-content: end;
	flex-basis: auto;
	height: 150px;
	border: none;
	border-radius: 40px;
	box-shadow: inset 9px 43px 13px -41px rgba(0,0,0,0.25),
				inset 1px 4px 20px 2px rgba(0,0,0,0.25);

	&:hover {
		height: 250px;

		.stepsWorking-section__text {
			height: 100px;
			transition: $base-transition;
			transition-duration: 2s;
			opacity: 1;
		}
	}
}

.variantSection-block .stepsWorking-section__step{
	border-radius: 40px;
	overflow: hidden;
}

.variantSection-wrapper .stepsWorking-section__step-block{
	min-width: auto;
}

.variantSection-block .stepsWorking-section__title{
	position: static;
	color: $black;
	font-family: $MontserratBold;
	margin-bottom: 2rem;
	white-space: nowrap;
	display: flex;

	@include media('>=desktop') {
		font-size: 5.6rem;
	}
}
.variantSection-block .stepsWorking-section__text{
	height: 0;
	opacity: 0;
	position: static;
	color: $black;
	font-family: $MontserratBold;
	list-style-type: disc;

	@include media('>=desktop') {
		font-size: 2.2rem;
	}
}

.variantSection-wrapper .stepsWorking-section__wrapper1 {
	overflow-y: hidden;

	@include media('>=tablet') {
		height: 575px;
	}
	@include media('>=desktop') {
		min-height: 590px;
	}
}


.variantSection-wrapper {
	overflow: hidden;
	.title__h2 {
		color: $black;
	}
}