section(class='newYear')
		.container
			div(class='newYear__wrapper')
				div(class='newYear__inner')
				div(class='newYear__inner2')
				div(class='newYear__block1')
					div(class='newYear__inner3')
						div(class='newYear__inner4')
					h1(class='title__h2') Новогодние скидки
					p(class='base-text') До 10.01.23
					div(class='newYear-orangePercent')
						div(class='newYear-orangePercent1')
						div(class='newYear-orangePercent2')
							p(class='bigSell') 50%
							p(class='bigSell') 50%
							p(class='bigSell') 50%
							p(class='bigSell') 50%
					div(class='newYear-text-cost')
						p(class='base-text') Лендинг
							span 15000 руб.
						p(class='base-text') Многостраничник
							span от 18000 руб.*
						p(class='base-text') Продвижение
							span от 1500 руб.
				div(class='newYear__block2')
					+icon('0 0 25 25',	'25px', '25px', 'images/sprite/sprite.svg#telegram')
					+icon('0 0 25 25',	'25px', '25px', 'images/sprite/sprite.svg#vk')
					+icon('0 0 25 25',	'25px', '25px', 'images/sprite/sprite.svg#whatsApp')
