if mainPage
	+icon(
		logoIcons.viewBox = '0 0 150 150',
		logoIcons.width = '170',
		logoIcons.height = '170',
		logoIcons.id,
	)
else
	+icon(
		logoIcons.viewBox,
		logoIcons.width,
		logoIcons.height,
		logoIcons.id = logoIconsPath2,
	)