section(class=ClassPricesSection)
    .container
        div(class=ClassPricesSectionWrapper)
            h2(class=titleDefault__H2) Стоимость работ
            div(class=ClassPricesSectionInner)
                include tarif1
                include tarif2
                include tarif3