section(class=coolSection)
	.container
		h2(class='cool-h2') Настройка рекламы, результат, повышение конверсии, сайт 
		div(class=coolSectionWrapper)
			include image
			div(class=coolSectionInner)
				ul
					li EASEWEB дает предсказуемый результат
					li Работает через договор
					li Укладывается в дедлайны
					li Создаст сайт, который продает
					li Интерфейс функционален
						br
						| и интуитивно понятен
					li Современный дизайн
					li Настройка рекламы и стабильный
						br
						| поток клиентов