div(class=coolSection__imageWrapper)
	//- img(class=coolSection__image src="/images/content/something.gif", alt='image-something')
	video(width='inherit' autoplay loop muted)
		source(src="/video/somethingGif.webm" type="video/webm")
		source(src="/video/somethingGif.mp4" type="video/mp4")
