- let mainTitle = 'main-title'
-   let classmenuLine = 'line-menu'
//- index.html logo
- let classNameLogo = 'logo'
- let classTitleThird = 'title-third'
- let quzieParagraph = 'quzieParagraph'
- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'

-   let colorTextBlack = 'color-black'
-   let colorTextBWhite = ' color-white'

-   let titleDefault = ' title-default'
-   let titleDefault__H1 = ' title__h1'
-   let titleDefault__H2 = ' title__h2'
-   let titleDefault__H3 = ' title__h3'

-   let classButton = 'class-button'
-   let classOffer = 'class-offer'

//- Секция - intro-section
-   let ClassintroSectionInner = 'intro-section__inner'
-   let ClassintroSection__H1 = 'intro-section__title'
-   let ClassIntroSectionTitle__h2 = ' Intro2Section-titleH2 '
-   let ClassIntroSectionParagraph__p = ' Intro2Section-paraghraph '
-   let ClassintroSection__h1__span3 = ' intro-section__h1-span'
-   let ClassintroSectionForm = 'intro-section__form'
-   let ClassintroSectionForm__Wrapper = 'intro-section__form-wrapper'
-   let ClassintroSectionForm__Inner = 'intro-section__form-inner'
-   let ClassintroForm__button = 'introButton'
-   let ClassintroSection__imageWrapper = 'intro-section__image-wrapper'
//- // -   let ClassintroSection__imageInner = 'intro-section__image-inner'
-   let ClassintroSection__image = 'intro-section__image'

//- Секция - helpers-section
-   let ClasshelpersSectionInner = 'helpers-section__inner'
-   let ClasshelpersSection__title = 'helpers-section__title'
-   let ClasshelpersSectionTitle__h2 = ' helpersSection-titleH2 '
-   let ClasshelpersSectionParagraph__p = ' helpersSection-paraghraph '
-   let ClasshelpersSection__h2__span3 = ' helpers-section__h2-span'
-   let ClasshelpersSectionForm = 'helpers-section__form'
-   let ClasshelpersSectionForm__Wrapper = 'helpers-section__form-wrapper'
-   let ClasshelpersSectionForm__Inner = 'helpers-section__form-inner'
-   let ClasshelpersForm__button = 'helpersButton'
-   let ClasshelpersSection__imageWrapper = 'helpers-section__image-wrapper'
-   let ClasshelpersSection__image = 'helpers-section__image'




//- Секция - stepsWorking-section
-   let stepsWorkingSection = 'stepsWorkingSection'
-   let stepsWorkingSectionCard = 'stepsWorkingSection__card'
-   let stepsWorkingWrapper= 'stepsWorkingSection__wrapper'
-   let stepsWorkingSectionCardWrapper ='stepsWorkingSection__card-wrapper'
-   let stepsWorkingSectionCardInner= 'stepsWorkingSection__card-inner'
-   let stepsWorkingSectionInnerTitle= 'stepsWorkingSection__inner-image'
-   let ClassstepsWorkingTitle__h2 = ' stepsWorkingSection-titleH2 '
-   let ClassstepsWorkingParagraph__p = ' stepsWorkingSection-paraghraph '
-   let ClassstepsWorkingParagraphMin = ' stepsWorkingSection-paraghraphMin '

//- Секция - personal-section
-   let personalSection = 'personalSection'
-   let personalWrapper= 'personalSection__wrapper'
-   let personalInner= 'personalSection__inner'
-   let personalSectionCardWrapper ='personalSection__card-wrapper'
-   let personalSectionCardInner= 'personalSection__card-inner'
-   let personalSectionInnerTitle= 'personalSection__inner-image'
-   let ClasspersonalTitle__h2 = ' personalSection-titleH2 '
-   let ClasspersonalParagraph__p = ' personalSection-paraghraph '
-   let ClasspersonalParagraphMin = ' personalSection-paraghraphMin '

