- let mainTitle = 'main-title'
-   let classmenuLine = 'line-menu'
//- index.html logo
- let classNameLogo = 'logo'
- let classTitleThird = 'title-third'
- let quzieParagraph = 'quzieParagraph'
- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'

//- intro-section
-   let titleDefault = ' title-default'
-   let titleDefault__H1 = ' title__h1'
-   let titleDefault__H2 = ' title__h2'
-   let titleDefault__H3 = ' title__h3'

-   let classButton = 'class-button'
-   let classOffer = 'class-offer'
-   let ClassIntroBlockTitle__h1 = ' introBlock-titleH1 '
-   let ClassIntroBlockParagraph__p = ' introBlock-paraghraph '
-   let ClassIntroBlockParagraphMin__p = ' introBlock-paraghraphMin '

//- Секция - intro2-section
//- // -   let introSection = 'introSection'
-   let ClassIntro2SectionTitle__h2 = ' Intro2Section-titleH2 '
-   let ClassIntro2SectionParagraph__p = ' Intro2Section-paraghraph '
-   let ClassIntro2SectionParagraphMin__p = ' Intro2Section-paraghraphMin '
-   let classListItro2Section = 'list-intro2Section'

//- Секция - stepsWorking-section
-   let stepsWorkingSection = 'stepsWorkingSection'
-   let stepsWorkingSectionCard = 'stepsWorkingSection__card'
-   let stepsWorkingWrapper= 'stepsWorkingSection__wrapper'
-   let stepsWorkingSectionCardWrapper ='stepsWorkingSection__card-wrapper'
-   let stepsWorkingSectionCardInner= 'stepsWorkingSection__card-inner'
-   let stepsWorkingSectionInnerTitle= 'stepsWorkingSection__inner-image'
-   let ClassstepsWorkingTitle__h2 = ' stepsWorkingSection-titleH2 '
-   let ClassstepsWorkingParagraph__p = ' stepsWorkingSection-paraghraph '
-   let ClassstepsWorkingParagraphMin = ' stepsWorkingSection-paraghraphMin '

//- Секция - personal-section
-   let personalSection = 'personalSection'
-   let personalWrapper= 'personalSection__wrapper'
-   let personalInner= 'personalSection__inner'
-   let personalSectionCardWrapper ='personalSection__card-wrapper'
-   let personalSectionCardInner= 'personalSection__card-inner'
-   let personalSectionInnerTitle= 'personalSection__inner-image'
-   let ClasspersonalTitle__h2 = ' personalSection-titleH2 '
-   let ClasspersonalParagraph__p = ' personalSection-paraghraph '
-   let ClasspersonalParagraphMin = ' personalSection-paraghraphMin '
