extends ../../../../layout/sliders/sliderMain/sliderMain

block mainWrapper
    div(class=classSliderMain+'swiper-variants' id='swiperVariants')
        block wrapper
            div(class=classSliderMainWrapper+' overflowXScroll')
                block includes
                    include slide-blocks/slide1
                    include slide-blocks/slide2
                    include slide-blocks/slide3
                    include slide-blocks/slide4

            block navigation
                div(class=swiperButtonPrev)
                div(class=swiperButtonNext)