doctype html
block variables

html(lang="en")
    block head
    block title
    body
        include ../layout/header
        block content
        block footer
        block scripts
        include ../partials/scripts/common