head

if mainPage
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="css/vendor.min.css")
	link(rel="stylesheet", href="css/styles.min.css")
	link(rel="prefetch prerender preload", as="image", href="/images/content/3.png")
else
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="../css/vendor.min.css")
	link(rel="stylesheet", href="../css/styles.min.css")
	link(rel="prefetch prerender preload", as="image", href="/images/content/3.png")